version: "3.8"
services:
  dev:
    build:
      context: .
      target: builder
    command: npm run dev
    volumes:
      - ./:/app:delegated
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

  web:
    build:
      context: .
      target: production
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production